<div class='chatbox'>
  <ul class='chats'>
    <% all_chats.each do |chat| %>
      <li class='chat'>
        <%= image_tag chat.sender.avatar,
          class: "img-circle media-object pull-left profile-pic" %>
        <div class='media-body'>
          <strong>Adam</strong>
          <p><%= chat.text %></p>
        </div>
      </li>
    <% end %>
  </ul>

  <div class='chat-input'>
    <textarea id='chat-input-text' class='form-control'></textarea>
  </div>
</div>
