<li class='chat'>
  <%= image_tag chat.sender.avatar,
    class: "img-circle media-object pull-left profile-pic" %>
  <div class='media-body'>
    <strong>Adam</strong>
    <p><%= chat.text %></p>
  </div>
</li>
