<li class='chat'>
  <%= image_tag chat.sender.avatar,
    class: "img-circle media-object pull-left profile-pic" %>
  <div class='media-body'>
    <strong>Adam</strong>
    <p><%= chat.text %></p>

    <% if chat.itemable? && chat.items.any? %>
      <a href="#beli-<%= chat.id %>"
        data-token=""
        data-chat-id="<%= chat.id %>"
        class='buy-chat-items'>
        Beli
      </a>
    <% end %>
  </div>
</li>
