<div class='chatbox'>
  <ul class='chats'>
    <% all_chats.each do |chat| %>
      <%= render "chat", chat: chat %>
    <% end %>
  </ul>

  <div class='chat-input'>
    <%= form_for Chat.new do |f| %>
      <textarea id='chat-input-text' class='form-control'></textarea>
    <% end %>
  </div>
</div>
